#cardValue {
    font-size: 30px;
    color: blue;
  }
  #cardHeader{
    font-size: 15px;
   
  }
  #cardValue:hover{
    color: white;
  }
  #cardHover:hover{
    background-color: blue;
    color: white;
  }
  .cardAll {
    padding: 10px;
    margin-top: 20px;
    
  }
  
